---
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <div class="flex justify-center gap-6 py-4 bg-gray-100 shadow-md">
        <a
            href="/int/"
            class="text-blue-600 font-semibold hover:text-blue-800 transition"
            >Interactive</a
        >
        <a
            href="/blog/"
            class="text-blue-600 font-semibold hover:text-blue-800 transition"
            >Blog</a
        >
    </div>
</Layout>
